<app-navbar></app-navbar>
<main>
  <div class="container py-5">
    <div class="card text-light">
      <div class="card-body table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Product Category</th>
              <th>Products Quantity</th>
              <th>Cart Price</th>
              <th>Status</th>
              <th colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cart of Carts" [ngClass]="{
              'bg-orange': cart.status === 'Pending',
              'bg-green': cart.status === 'Chipped',
              'bg-red': cart.status === 'Cancelled'
            }">
              <td>{{ cart.name }}</td>
              <td>{{ cart.category }}</td>
              <td>{{ cart.quantity }}</td>
              <td>{{ cart.price * cart.quantity }} $</td>
              <td>{{ cart.status }}</td>
              <td>
                <a (click)="changeStatus(cart, 'Chipped')" class="btn btn-success me-3"><i class="fa-solid fa-check"></i></a>
                <a (click)="changeStatus(cart, 'Cancelled')" class="btn btn-danger me-3"><i class="fa-solid fa-xmark"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
