.statues{
  color: orangered !important;
}
td{
  color: #94A3B8 !important;
}
.card{
  background-color: #0F172A !important;
}
main{
  background-color: #1A222C !important;
}
body{
  background-color: #1A222C !important;
}
