input[type="number"]{
  border: #999999 1px solid;
  border-radius: 10px;
  padding: 0;
  outline: none;
  text-align: center;
}
.imeg{
  background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
