<app-nav></app-nav>
<main id="alldiscounts" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
  <section class="prod pt-5">
    <div class="container">
      <div class="title">
        <h6>All Products</h6>
        <div class="flash d-flex align-items-center gap-3 mt-4">
          <h3>Explore Our Products</h3>
        </div>
      </div>
      <div class="row mt-3 align-items-center">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 m-0 my-3" *ngFor="let sale of sales">
          <div class="carde">
            <div class="back text-center">
              <img class="img-fluid" src="{{sale.image}}" alt="">
            </div>
            <div class="sale">
              <p>{{sale.labelps}}</p>
            </div>
            <div class="show">
              <a routerLink="/show/{{sale.id}}"><i class="fa-solid fa-eye"></i></a>
            </div>
            <h5 class="p-0 m-0 mt-2">{{sale.name}}</h5>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="lower d-flex justify-content-between align-items-center">
              <p class="p-0 m-0 text-danger fw-bold">{{sale.price}} $<span> {{sale.oldPrice}}</span></p>
            </div>
          </div></div>

      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
