.counter #decreaseBtn {
  padding: 6px 15px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--hover);
  color: black;
  transition:  0.3s;
}
.counter #decreaseBtn:hover {
  background-color: var(--primary);
}
.counter #increaseBtn {
  border: none;
  border-radius: 5px;
  padding: 6px 15px;
  font-size: 15px;
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
  transition: 0.3s;
}
.counter #increaseBtn:hover {
  background-color: var(--hover);
}
.counter span {
  margin: 0 20px;
  font-size: 20px;
}
