<app-nav></app-nav>
<main id="cart">

  <section class="data p-5">
      <table class="table table-striped table-resposive">
          <thead>
              <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let carts of cart">
                  <th class="th-f">
                      <img class="img-fluid" src="{{carts.image}}" alt="" />
                      <p class="text-danger">{{carts.name}}</p>
                  </th>
                  <td class="text-danger fw-bold ">{{carts.price}}$</td>
                  <td class="text-danger fw-bold">{{carts.quantity}}</td>
                  <td class="text-danger fw-bold ">{{carts.price * carts.quantity}}$</td>
                  <td>
                    <button (click)="remove(carts.id)" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="btns d-flex justify-content-between align-items-center">
          <button routerLink="/products" class="btn btn-outline-danger">Return To Shop</button>
          <button class="btn btn-danger">Proceed To Checkout</button>
      </div>
  </section>
  <section class="copun mt-4">

  </section>

</main>
<app-footer></app-footer>
