<footer class="mt-5">
  <div class="container">
      <div class="row">
          <div class="support col-lg-3 col-6">
              <h4 class="mb-4">Support</h4>
              <p>7th Fathy ST, Elzohor City, Ezbet Elnakhl, Egypt.</p>
              <p class="text-wrap">omagd206@gmail.com</p>
              <p>+201501883344</p>
          </div>
          <div class="account col-lg-3 col-6">
              <h4 class="mb-4">Account</h4>
              <p>My Account</p>
              <p>Login / Register</p>
              <p>Cart</p>
              <p>SHop</p>
          </div>
          <div class="quick col-lg-3 col-6 mt-lg-0 mt-3">
              <h4 class="mb-4">Quick Link</h4>
              <p>Privacy Policy</p>
              <p>Terms Of Use</p>
              <p>FAQ</p>
              <p>Contact</p>
          </div>
          <div class="app col-lg-3 col-6 mt-lg-0 mt-3">
              <h4 class="mb-4">Download App</h4>
              <img class="img-fluid" src="assets/vendors/imgs/Frame 719.png" alt="">
              <div class="social mt-3 d-flex gap-lg-4 gap-3 flex-wrap">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-x-twitter"></i>
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-linkedin-in"></i>
              </div>
          </div>
      </div>
  </div>
</footer>
