.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-swp{
  overflow: hidden;
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
  }
}
@media (max-width:992px) {
  #main{
    & .sales{
      & .carde {
        width: 30% !important;
        margin: auto !important;
    }
    }
  }
}
@media (max-width:786px) {
  #main{
    & .sales{
      & .carde {
        width: 44% !important;
        margin: auto !important;
    }
    }
  }
}
@media (max-width:567px) {
  #main{
    & .sales{
      & .carde {
        width: 70% !important;
        margin: auto !important;
        margin-top: 20px !important;
    }
    }
  }
}
@media (max-width:992px) {
  #main{
    & .products{
      & .carde {
        width: 30% !important;
        margin: auto !important;
    }
    }
  }
}
@media (max-width:786px) {
  #main{
    & .products{
      & .carde {
        width: 44% !important;
        margin: auto !important;
    }
    }
  }
}
@media (max-width:567px) {
  #main{
    & .products{
      & .carde {
        width: 70% !important;
        margin: auto !important;
        margin-top: 20px !important;
    }
    }
  }
}
