<app-nav></app-nav>
<main id="main">
  <section class="hero pb-2" >
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-lg-2 col-10 order-lg-1 order-2 d-lg-block d-none" >
                  <p class="mt-2 pt-2">Woman's Fashion</p>
                  <p class="mt-2 p-0">Men's Fashion</p>
                  <p class="mt-2 p-0">Electronics</p>
                  <p class="mt-2 p-0">Home & Lifestyle</p>
                  <p class="mt-2 p-0">Medicine</p>
                  <p class="mt-2 p-0">Sports & Outdoor</p>
                  <p class="mt-2 p-0">Boys & Toys</p>
                  <p class="mt-2 p-0">Groceries & Pets</p>
                  <p class="mt-2 p-0">Health & Beauty</p>
              </div>
              <div class="col-lg-10 col-12 order-lg-2 order-1 pt-3">
                <app-swiper></app-swiper>
              </div>
          </div>
      </div>
  </section>
  <!--  -->
  <section class="sales mt-5">
      <div class="container pt-4">
          <div class="title" >
              <h6>Our Products</h6>
              <div class="flash d-flex align-items-center gap-3 mt-4">
                  <h2>Explore Our Products</h2>
              </div>
          </div>
          <div class="row d-flex mt-3">
            <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mt-lg-0" *ngFor="let sale of sales">
              <div class="carde">
                <div class="back text-center">
                  <img class="img-fluid" src="{{sale.image}}" alt="">
                </div>
                <div class="sale">
                  <p>{{sale.labelps}}</p>
                </div>
                <div class="show">
                  <a routerLink="/show/{{sale.id}}"><i class="fa-solid fa-eye"></i></a>
                </div>
                <h5 class="p-0 m-0 mt-2">{{sale.name}}</h5>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <div class="lower d-flex justify-content-between align-items-center">
                  <p class="p-0 m-0 text-danger fw-bold">{{sale.price}}$<span> {{sale.oldPrice}}</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="view text-center mt-5">
              <button routerLink="/products" class="view-btn">View All Products</button>
          </div>
      </div>
  </section>
  <!--  -->
  <section class="categories mt-5">
      <div class="container">
          <div class="title" >
              <h6>Categories</h6>
              <h2>Browse By Category</h2>
          </div>
          <div class="row mt-3 justify-content-around">
              <div class="carde col-xl-2 col-lg-5 col-md-5 col-sm-5 col-10 m-1" >
                  <div class="back text-center">
                      <i class="fs-1 bi bi-phone"></i>
                      <h3>Phones</h3>
                  </div>

              </div>
              <div class="carde col-xl-2 col-lg-5 col-md-5 col-sm-5 col-10 m-1" >
                  <div class="back text-center">
                      <i class="fs-1 bi bi-pc-display-horizontal"></i>
                      <h3>Computers</h3>
                  </div>

              </div>
              <div class="carde col-xl-2 col-lg-5 col-md-5 col-sm-5 col-10 m-1" >
                  <div class="back text-center">
                      <i class="fs-1 bi bi-headphones"></i>
                      <h3>Headphones</h3>
                  </div>

              </div>
              <div class="carde col-xl-2 col-lg-5 col-md-5 col-sm-5 col-10 m-1">
                  <div class="back text-center">
                      <i class="fs-1 bi bi-smartwatch"></i>
                      <h3>Smart Watch</h3>
                  </div>

              </div>
              <div class="carde col-xl-2 col-lg-5 col-md-5 col-sm-5 col-10 m-1">
                  <div class="back text-center">
                      <i class="fs-1 bi bi-camera"></i>
                      <h3>Camera</h3>
                  </div>

              </div>
          </div>
      </div>
  </section>
  <!--  -->
  <section class="categories-back mt-5">
      <div class="container">
          <div class="row" >
              <div class="imag col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <img class="img-fluid" src="assets/vendors/imgs/Frame 600.png">
              </div>
              <div class="txt col-lg-6 col-md-6 col-sm-6 col-12 mt-4 mt-lg-0">
                  <h6>Categories</h6>
                  <h2 class="text-white fs-1 mt-3">Enhance Your Music Experience</h2>

                  <button class="buy-btn mt-3">Buy Now</button>
              </div>
          </div>
      </div>
  </section>
  <!--  -->
  <!-- <section class="products mt-5">
      <div class="container">
          <div class="title" >
              <h6>Our Products</h6>
              <div class="flash d-flex align-items-center gap-3 mt-4">
                  <h2>Explore Our Products</h2>
              </div>
          </div>
          <div class="row mt-3">
              <div class="carde" *ngFor="let product of products">
                  <div class="back text-center">
                      <img class="img-fluid" src="{{product.image}}" alt="">
                  </div>
                  <div class="labelps">
                      <p>{{product.labelps}}</p>
                  </div>
                  <div class="show">
                      <a routerLink="/details/{{product.id}}"><i class="fa-solid fa-eye"></i></a>
                  </div>
                  <h5 class="p-0 m-0 mt-2">{{product.name}}</h5>
                  <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </div>
                  <div class="lower d-flex justify-content-between align-items-center">
                    <p class="p-0 m-0 text-success fw-bold">{{product.price}}$</p>
                    <i class="fa-solid fa-cart-plus"></i>
                  </div>
              </div>
          </div>
          <div class="view text-center mt-5">
              <button routerLink="/products" class="view-btn">View All Products</button>
          </div>
      </div>
  </section> -->
  <!--  -->
  <section class="featured mt-5">
      <div class="container">
          <div class="title">
              <h6>Featured</h6>
              <div class="flash d-flex align-items-center mt-4">
                  <h2 class="m-0 p-0">New Arrival</h2>
              </div>
          </div>
          <div class="row justify-content-between align-items-center flex-wrap mt-5">
              <div class="imag1 col-xl-6 col-12 m-0">
                  <img class=" img-fluid" routerLink="/products" src="assets/vendors/imgs/Frame 684.png" alt="">
              </div>
              <div class="imag2 col-xl-6 col-12 mt-xl-0 mt-2">
                  <img class="img-fluid" routerLink="/products" src="assets/vendors/imgs/Frame 685.png" alt="">
                  <div class="lftbtm d-flex gap-4 mt-xl-4 mt-2">
                      <div class="imag3">
                          <img class="img-fluid" routerLink="/products" src="assets/vendors/imgs/Frame 686.png" alt="">
                      </div>
                      <div class="imag4">
                          <img class="img-fluid" routerLink="/products" src="assets/vendors/imgs/Frame 687.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--  -->
  <section class="services mt-5">
      <div class="container">
          <div class="row flex-row text-center align-items-center justify-content-evenly gap-5">
              <div class="ser col-lg-3 col-md-3  col-sm-6">
                  <img src="assets/vendors/imgs/Services.png" alt="">
                  <h5 class="fw-bold mt-3">FREE AND FAST DELIVERY</h5>
                  <p>Free delivery for all orders over $140</p>
              </div>
              <div class="ser1 col-lg-3 col-md-3  col-sm-6">
                  <img src="assets/vendors/imgs/Services (1).png" alt="">
                  <h5 class="fw-bold mt-3">24/7 CUSTOMER SERVICE</h5>
                  <p>Friendly 24/7 customer support</p>
              </div>
              <div class="ser2 col-lg-3 col-md-3  col-sm-6">
                  <img src="assets/vendors/imgs/Services (2).png" alt="">
                  <h5 class="fw-bold mt-3">MONEY BACK GUARANTEE</h5>
                  <p>We return money within 30 days</p>
              </div>
          </div>
      </div>
  </section>
  <!--  -->

</main>
<app-footer></app-footer>
