<div id="login" class="container">
  <div class="row align-items-center justify-content-between gap-5">
      <div class="imag col-lg-6 d-none d-md-block">
          <img class="img-fluid" src="assets/vendors/imgs/Side Image (1).png" alt>
      </div>
      <div class="txt col-lg-5 col-12 order-1 order-lg-2">
        <div *ngIf="message" class="alert alert-danger">
          {{message}}
        </div>
          <div class="form">
              <div class="title">
                  <h2>Admin Login</h2>
                  <p>Enter Your Details Below</p>
              </div>
              <div class="format">
                  <div class="form__group field">
                      <input type="input" #email="ngModel" [(ngModel)]="admin.email" name="email" id="email" class="form__field" placeholder="Email" required>
                      <label for="Email" class="form__label">Email</label>
                  </div>
                  <div class="form__group field mt-3">
                      <input type="password" #password="ngModel" [(ngModel)]="admin.password" name="password" id="password" ngModel class="form__field" placeholder="password" required>
                      <label for="password" class="form__label">Password</label>
                  </div>
                  <div class="btn-login mt-5 d-flex gap-5 align-items-center">
                      <button (click)="submit()" type="submit" class="btn btn-danger">Login</button>
                      <a class="text-danger" href="">Forget Password?</a>
                  </div>
              </div>
          </div>
  </div>
</div>
