<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide "><img routerLink="/show/6" class="img-fluid" src="assets/vendors/imgs/slider-01.jpg" alt=""></div>
    <div class="swiper-slide "><img routerLink="/products" class="img-fluid" src="assets/vendors/imgs/slider-02.jpg" alt=""></div>
    <div class="swiper-slide "><img routerLink="/products" class="img-fluid" src="assets/vendors/imgs/slider-03.jpg" alt=""></div>
    <div class="swiper-slide "><img routerLink="/products" class="img-fluid" src="assets/vendors/imgs/Frame 560.png" alt=""></div>
  </div>
</div>
