<app-navbar></app-navbar>
<div class="container py-5">
  <div class="card bg-danger text-light">
    <div class="card-body table-responsive">
      <table class="table table-danger table-striped">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Product Price</th>
            <th>Product Category</th>
            <th>Product Label</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of Products">
            <td>{{product.name}}</td>
            <td><img width="90" src="{{product.image}}" alt="error"></td>
            <td>{{product.price}}  $</td>
            <td>{{product.category}}</td>
            <td>{{product.labelps}}</td>
            <td>
              <a routerLink="/admin/products/edit/{{product.id}}" class="btn btn-warning"><i class="fs-5 fa-regular fa-pen-to-square"></i></a>
            </td>
            <td>
              <button (click)="remove(product.id)" class="btn btn-danger"><i class="fs-5 fa-solid fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
