<app-navbar></app-navbar>
<main id="dashboard">
  <section class="section1">
    <div class="container">
      <div class="row mt-4 cards">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div  class="carde ">
            <div class="top d-flex justify-content-around p-lg-0 p-2 ">
              <div class="inner mt-2">
                <h3 class="fw-bold text-white">7,461</h3>
                <p class=" text-white-50">Total Views</p>
              </div>
              <div class="icon mt-4">
                <i class="bi bi-eye fs-1 text-white-50"></i>
              </div>
            </div>
            <div class="lower">
              <p class="d-flex align-items-center text-center justify-content-end me-4 pb-3">0.34%<i class="bi bi-arrow-up fw-bold"></i></p>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div  class="carde ">
            <div class="top d-flex justify-content-around p-lg-0 p-2 ">
              <div class="inner mt-2">
                <h3 class="fw-bold text-white">$45,2K</h3>
                <p class=" text-white-50">Total Profit</p>
              </div>
              <div class="icon mt-4">
                <i class="bi bi-cart fs-1 text-white-50"></i>
              </div>
            </div>
            <div class="lower">
              <p class="d-flex align-items-center text-center justify-content-end me-4 pb-3">4.35%<i class="bi bi-arrow-up fw-bold"></i></p>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div  class="carde ">
            <div class="top d-flex justify-content-around p-lg-0 p-2 ">
              <div class="inner mt-2">
                <h3 class="fw-bold text-white">2,450</h3>
                <p class=" text-white-50">Total Product</p>
              </div>
              <div class="icon mt-4">
                <i class="bi bi-bag-dash-fill fs-1 text-white-50"></i>
              </div>
            </div>
            <div class="lower">
              <p class="d-flex align-items-center text-center justify-content-end me-4 pb-3">2.59%%<i class="bi bi-arrow-up fw-bold"></i></p>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div  class="carde ">
            <div class="top d-flex justify-content-around p-lg-0 p-2 ">
              <div class="inner mt-2">
                <h3 class="fw-bold text-white">3,456</h3>
                <p class=" text-white-50">Total Users</p>
              </div>
              <div class="icon mt-4">
                <i class="bi bi-people fs-1 text-white-50"></i>
              </div>
            </div>
            <div class="lower">
              <p class="d-flex align-items-center text-danger text-center justify-content-end me-4 pb-3">0.95%<i class="bi bi-arrow-down fw-bold"></i></p>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="carded p-3">
          <div class="title pt-1">
            <h3 class="m-0 p-0 fw-bold">Transactions</h3>
          </div>
          <div class="card-body">
            <ul class="p-0 mt-3">
              <li class="d-flex mb-4 pb-1">
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                  <div class="d-flex gap-3 align-items-center">
                    <i class="fa-brands fa-paypal"></i>
                    <div class="txt">
                      <h6 class="mb-0">Paypal</h6>
                      <small class="">Send money</small>
                    </div>
                  </div>
                  <div class="user-progress">
                    <small class="fw-medium">+82.6 <span>USD</span></small>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="p-0 mt-3">
              <li class="d-flex mb-4 pb-1">
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                  <div class="d-flex gap-3 align-items-center">
                    <i class="fa-solid fa-wallet"></i>
                    <div class="txt">
                      <h6 class="mb-0">Wallet</h6>
                      <small class="">Mac'D</small>
                    </div>
                  </div>
                  <div class="user-progress">
                    <small class="fw-medium">+270.69 <span>USD</span></small>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="p-0 mt-3">
              <li class="d-flex mb-4 pb-1">
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                  <div class="d-flex gap-3 align-items-center">
                    <i class="fa-solid fa-money-bill-transfer"></i>
                    <div class="txt">
                      <h6 class="mb-0">Transfer</h6>
                      <small class="">Refund</small>
                    </div>
                  </div>
                  <div class="user-progress">
                    <small class="fw-medium">+637.91<span>USD</span></small>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="p-0 mt-3">
              <li class="d-flex mb-4 pb-1">
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                  <div class="d-flex gap-3 align-items-center">
                    <i class="fa-solid fa-credit-card"></i>
                    <div class="txt">
                      <h6 class="mb-0">Credit Card</h6>
                      <small class="">Ordered Food</small>
                    </div>
                  </div>
                  <div class="user-progress">
                    <small class="fw-medium">-838.71<span>USD</span></small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="carded p-3">
          <div class="title pt-1">
            <h3 class="m-0 p-0  fw-bold">Order Statistics</h3>
          </div>
          <div class="card-body">
            <ul class="p-0 mt-3">
              <li class="d-flex mb-4 pb-1">
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                  <div class="d-flex gap-3 align-items-center">
                    <i class="fa-solid fa-mobile-screen"></i>
                    <div class="txt">
                      <h6 class="mb-0">Electronic</h6>
                      <small class="">Mobile, Earbuds, TV</small>
                    </div>
                  </div>
                  <div class="user-progress">
                    <small class="fw-medium">8.5k</small>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="p-0 mt-3">
              <li class="d-flex mb-4 pb-1">
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                  <div class="d-flex gap-3 align-items-center">
                    <i class="fa-solid fa-hat-cowboy"></i>
                    <div class="txt">
                      <h6 class="mb-0">Fashion</h6>
                      <small class="">T-shirt, Jeans, Shoes</small>
                    </div>
                  </div>
                  <div class="user-progress">
                    <small class="fw-medium">23.8k</small>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="p-0 mt-3">
              <li class="d-flex mb-4 pb-1">
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                  <div class="d-flex gap-3 align-items-center">
                    <i class="fa-solid fa-house-chimney"></i>
                    <div class="txt">
                      <h6 class="mb-0">Decor</h6>
                      <small class="">Fine Art, Dining</small>
                    </div>
                  </div>
                  <div class="user-progress">
                    <small class="fw-medium">49k</small>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="p-0 mt-3">
              <li class="d-flex mb-4 pb-1">
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                  <div class="d-flex gap-3 align-items-center">
                    <i class="fa-regular fa-futbol"></i>
                    <div class="txt">
                      <h6 class="mb-0">Sports</h6>
                      <small class="">Football, Cricket Kit</small>
                    </div>
                  </div>
                  <div class="user-progress">
                    <small class="fw-medium">9k</small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
        </div>
  </section>
</main>

