<app-navbar></app-navbar>
<main id="dashboard">
  <section class="section1">
    <div class="container">
      <div class="row pt-4 cards">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="carde ">
            <div class="top d-flex justify-content-around p-lg-0 p-2 ">
              <div class="inner mt-2">
                <h3 class="fw-bold text-white">7,461</h3>
                <p class=" text-white-50">Total Views</p>
              </div>
              <div class="icon mt-4">
                <i class="bi bi-eye fs-1 text-white-50"></i>
              </div>
            </div>
            <div class="lower">
              <p class="d-flex align-items-center text-center justify-content-end me-4 pb-3">0.34%<i
                  class="bi bi-arrow-up fw-bold"></i></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="carde ">
            <div class="top d-flex justify-content-around p-lg-0 p-2 ">
              <div class="inner mt-2">
                <h3 class="fw-bold text-white">$45,2K</h3>
                <p class=" text-white-50">Total Profit</p>
              </div>
              <div class="icon mt-4">
                <i class="bi bi-cart fs-1 text-white-50"></i>
              </div>
            </div>
            <div class="lower">
              <p class="d-flex align-items-center text-center justify-content-end me-4 pb-3">4.35%<i
                  class="bi bi-arrow-up fw-bold"></i></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="carde ">
            <div class="top d-flex justify-content-around p-lg-0 p-2 ">
              <div class="inner mt-2">
                <h3 class="fw-bold text-white">2,450</h3>
                <p class=" text-white-50">Total Product</p>
              </div>
              <div class="icon mt-4">
                <i class="bi bi-bag-dash-fill fs-1 text-white-50"></i>
              </div>
            </div>
            <div class="lower">
              <p class="d-flex align-items-center text-center justify-content-end me-4 pb-3">2.59%%<i
                  class="bi bi-arrow-up fw-bold"></i></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="carde ">
            <div class="top d-flex justify-content-around p-lg-0 p-2 ">
              <div class="inner mt-2">
                <h3 class="fw-bold text-white">3,456</h3>
                <p class=" text-white-50">Total Users</p>
              </div>
              <div class="icon mt-4">
                <i class="bi bi-people fs-1 text-white-50"></i>
              </div>
            </div>
            <div class="lower">
              <p class="d-flex align-items-center text-danger text-center justify-content-end me-4 pb-3">0.95%<i
                  class="bi bi-arrow-down fw-bold"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="carded p-3">
            <div class="title pt-1">
              <h3 class="m-0 p-0 fw-bold">Transactions</h3>
            </div>
            <div class="card-body">
              <ul class="p-0 mt-3">
                <li class="d-flex mb-4 pb-1">
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                    <div class="d-flex gap-3 align-items-center">
                      <i class="fa-brands fa-paypal"></i>
                      <div class="txt">
                        <h6 class="mb-0">Paypal</h6>
                        <small class="">Send money</small>
                      </div>
                    </div>
                    <div class="user-progress">
                      <small class="fw-medium">+82.6 <span>USD</span></small>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="p-0 mt-3">
                <li class="d-flex mb-4 pb-1">
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                    <div class="d-flex gap-3 align-items-center">
                      <i class="fa-solid fa-wallet"></i>
                      <div class="txt">
                        <h6 class="mb-0">Wallet</h6>
                        <small class="">Mac'D</small>
                      </div>
                    </div>
                    <div class="user-progress">
                      <small class="fw-medium">+270.69 <span>USD</span></small>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="p-0 mt-3">
                <li class="d-flex mb-4 pb-1">
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                    <div class="d-flex gap-3 align-items-center">
                      <i class="fa-solid fa-money-bill-transfer"></i>
                      <div class="txt">
                        <h6 class="mb-0">Transfer</h6>
                        <small class="">Refund</small>
                      </div>
                    </div>
                    <div class="user-progress">
                      <small class="fw-medium">+637.91<span>USD</span></small>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="p-0 mt-3">
                <li class="d-flex mb-4 pb-1">
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                    <div class="d-flex gap-3 align-items-center">
                      <i class="fa-solid fa-credit-card"></i>
                      <div class="txt">
                        <h6 class="mb-0">Credit Card</h6>
                        <small class="">Ordered Food</small>
                      </div>
                    </div>
                    <div class="user-progress">
                      <small class="fw-medium">-838.71<span>USD</span></small>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="carded p-3">
            <div class="title pt-1">
              <h3 class="m-0 p-0  fw-bold">Order Statistics</h3>
            </div>
            <div class="card-body">
              <ul class="p-0 mt-3">
                <li class="d-flex mb-4 pb-1">
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                    <div class="d-flex gap-3 align-items-center">
                      <i class="fa-solid fa-mobile-screen"></i>
                      <div class="txt">
                        <h6 class="mb-0">Electronic</h6>
                        <small class="">Mobile, Earbuds, TV</small>
                      </div>
                    </div>
                    <div class="user-progress">
                      <small class="fw-medium">8.5k</small>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="p-0 mt-3">
                <li class="d-flex mb-4 pb-1">
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                    <div class="d-flex gap-3 align-items-center">
                      <i class="fa-solid fa-hat-cowboy"></i>
                      <div class="txt">
                        <h6 class="mb-0">Fashion</h6>
                        <small class="">T-shirt, Jeans, Shoes</small>
                      </div>
                    </div>
                    <div class="user-progress">
                      <small class="fw-medium">23.8k</small>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="p-0 mt-3">
                <li class="d-flex mb-4 pb-1">
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                    <div class="d-flex gap-3 align-items-center">
                      <i class="fa-solid fa-house-chimney"></i>
                      <div class="txt">
                        <h6 class="mb-0">Decor</h6>
                        <small class="">Fine Art, Dining</small>
                      </div>
                    </div>
                    <div class="user-progress">
                      <small class="fw-medium">49k</small>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="p-0 mt-3">
                <li class="d-flex mb-4 pb-1">
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                    <div class="d-flex gap-3 align-items-center">
                      <i class="fa-regular fa-futbol"></i>
                      <div class="txt">
                        <h6 class="mb-0">Sports</h6>
                        <small class="">Football, Cricket Kit</small>
                      </div>
                    </div>
                    <div class="user-progress">
                      <small class="fw-medium">9k</small>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section3">
    <div class="container py-5">
      <div class="card text-light">
        <div class="card-body table-responsive">
          <div class="title">
            <h3 class="pb-4">Recent Orders</h3>
          </div>
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Products Quantity</th>
                <th>Cart Price</th>
                <th>Statues</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cart of Carts" >
                <td>{{cart.name}}</td>
                <td>{{cart.category}}</td>
                <td>{{cart.quantity}}</td>
                <td>{{cart.price * cart.quantity}}  $</td>
                <td class="statues">Pending</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>
  <section class="section4">
    <div class="container ">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="card text-light">
            <div class="card-body table-responsive">
              <div class="title">
                <h3 class="pb-4">Top Channels</h3>
              </div>
              <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th>SOURCE</th>
                    <th>VISITORS</th>
                    <th>REVENUES</th>
                    <th>CONVERSION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img class="img-fluid" src="assets/vendors/imgs/brand-01.svg" alt=""></td>
                    <td>
                      <p class="text-white">3.5K</p>
                    </td>
                    <td>
                      <p class="text-success">$5,768</p>
                    </td>
                    <td>
                      <p class="text-primary">4.8%</p>
                    </td>
                  </tr>
                  <tr>
                    <td><img class="img-fluid" src="assets/vendors/imgs/brand-02.svg" alt=""></td>
                    <td>
                      <p class="text-white">2.2K</p>
                    </td>
                    <td>
                      <p class="text-success">$4,635</p>
                    </td>
                    <td>
                      <p class="text-primary">4.3%</p>
                    </td>
                  </tr>
                  <tr>
                    <td><img class="img-fluid" src="assets/vendors/imgs/brand-06.svg" alt=""></td>
                    <td>
                      <p class="text-white">2.1K</p>
                    </td>
                    <td>
                      <p class="text-success">$4,290

                      </p>
                    </td>
                    <td>
                      <p class="text-primary">3.7%</p>
                    </td>
                  </tr>
                  <tr>
                    <td><img class="img-fluid" src="assets/vendors/imgs/brand-04.svg" alt=""></td>
                    <td>
                      <p class="text-white">1.5K</p>
                    </td>
                    <td>
                      <p class="text-success">$3,580</p>
                    </td>
                    <td>
                      <p class="text-primary">2.5%</p>
                    </td>
                  </tr>
                  <tr>
                    <td><img class="img-fluid" src="assets/vendors/imgs/brand-05.svg" alt=""></td>
                    <td>
                      <p class="text-white">1.2K</p>
                    </td>
                    <td>
                      <p class="text-success">$2,740</p>
                    </td>
                    <td>
                      <p class="text-primary">1.9%</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <app-pie></app-pie>
        </div>
      </div>
    </div>
  </section>
  <section class="section5 mt-5">
    <div class="container">
      <div class="row">
        <app-bars></app-bars>
      </div>
    </div>
  </section>
</main>
